1- Functions must be fully parameterised
2- write the function and its testbench and verify using handanalysis
3- the functions we will write:
1- Convoloution operation 2 matrices and get the output (stride included) - Rofida
2- max pooling operation 2 matrices and get the output - Zyad
3- zeropadding 2D (matrix) -Yehia
4- ReLU- Omar
	1- input matrix output matrix matrix
	2- input 1D array output 1D array 
	3- There is a flag to choose which mode of operation we will work on

